language: julia
os:
  - linux
  # - osx
julia:
  - 1.0
  - 1
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
script:
  # build
  - julia --color=yes -e "using Pkg; if VERSION >= v\"1.1.0-rc1\"; Pkg.build(verbose=true); else Pkg.build(); end"
  # build
  - julia --color=yes -e "using Pkg; Pkg.precompile()"
  # run tests
  - julia --check-bounds=yes --color=yes -e "using Pkg; Pkg.test(coverage=true)"

after_success:
  - julia -e 'cd(Pkg.dir("JuliaDB")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'


jobs:
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate();'
        - julia --project=docs/ docs/make.jl
      after_success: skip
