@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Lato:400,600|Roboto+Slab:200,400');


pre, code {
  font-family: 'Fira Mono', monospace !important;
  font-size: 0.95em;
}

code {
    font-weight: bold;
}

pre {
    background: inherit;
    background: #f1f1f1;
    border: none;
    padding: 0;
}

pre > code {
    font-weight: normal;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 1em !important;
}

pre > code.language-none {
    padding: 0.1em 0.25em;
    border: none;
}
code {
    background: none;
}

body {
    font-family: 'Lato';
    font-size: 15px;
    color: #333;
}


li > p {
    margin: 0;
}
li {
    margin: 0.5em 0;
}
a {
    color: #3B8686;
}

a:visited {
    color: #79BD9A;
}

#version-selector {
    display: none;
}
#search-query {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    height: 32px;
}
nav.toc ul a.toctext {
    font-size: 12px;
    color: #3B8686;
}
nav.toc {
    margin-left: 12px;
    width: 200px;
    background: #fff;
    box-shadow: none;
    font-family: 'Lato';
}
.admonition-title {
    font-family: 'Lato';
}
#docs header hr {
    display: none;
}

#docs header {
    font-family: 'Lato';
}

#docs {
    margin-left: 232px;
}

nav.toc li.current > .toctext {
    color: #0B486B;
    border: none;
    border-bottom: 1px solid #A8DBA8;
}
nav.toc ul.internal {
    background: #ffffff;
    box-shadow: none;
}
nav.toc ul.internal a.toctext {
    color: #0B486B;
}
nav.toc ul.internal a.toctext:hover {
    background: #3B8686;
    color: #fff;
}
h1,h2,h3{
    font-family: 'Roboto Slab';
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    border-bottom: none;
}
.toc h1 {
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 300;
}
h2 a.nav-anchor, h2 a.nav-anchor:visited {
    color: #0B486B;
}
h3 a.nav-anchor, h3 a.nav-anchor:visited, h2 a.nav-anchor:hover {
    color: #3B8686;
}

p {
    line-height: 1.66em;
}

article section.docstring {
    padding: 0;
    border: none;
}

.docstring-binding code {
    background: none;
    font-size: 1.2em;
    padding: 0;
}

article section.docstring {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
}

article section.docstring a.source-link {
    display: none;
}
